@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  background-color: #141414;
  color: white;
}

p {
  font-weight: 500;
}
.cta-component {
  background-size: 100% 100%;
}
.custom-right-border,
.custom-bottom-border,
.center-line {
  position: relative;
  /* border:2px solid yellow; */
}
.custom-right-border::before,
.custom-bottom-border::after,
.center-line::before {
  position: absolute;
  content: "";
  background: #262626;
}
.custom-right-border::before {
  left: 100%;
  width: 1px;
}

.custom-bottom-border::after {
  height: 1px;
  width: 90%;
}
.step-content {
  background: linear-gradient(
    135deg,
    rgba(112, 59, 247, 1) 0%,
    rgba(20, 20, 20, 1) 14%
  );
}
.gradient-border {
  background: linear-gradient(
    135deg,
    rgba(112, 59, 247, 1) 0%,
    rgba(38, 38, 38, 1) 25%
  );
}
@media (min-width: 1024px) {
  .center-line::before {
    height: 1px;
    width: 100%;
  }
  .active {
    border: 1px solid #262626;
    border-radius: 8px;
    background: #141414 ;
    padding :12px 16px
  }
}
